.buttonGr{
    display: flex !important;
    flex-direction: column !important;

}

.TaskButton{
    display: flex !important;
    align-items: center !important;
    flex-direction: column !important;
}

.botãoTask {
    width: 100%;
}

.botãoTask button {
    width: 100%;
    padding: 12px 24px;
    background-color: #2563EB;
    color: #FFFFFF;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.botãoTask button:hover {
    background-color: #1d4ed8;
}