.buttonGr{
    display: flex !important;
    flex-direction: column !important;

}

.TaskButton{
    display: flex !important;
    align-items: center !important;
    flex-direction: column !important;
}

.botãoTask {
    width: 100%;
    text-align: right;
}

.botãoTask button {
    width: 70%;
    padding: 12px 24px;
    color: #FFFFFF;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.botãoTask button:hover {
    box-shadow: inset 0 0 89px rgba(255, 255, 255, 0.39);
}

.cardTask {
    display: flex;
    flex-direction: column;
    background-color: #5F4588;
    margin: 0 0 8px 0;
    padding: 16px;
    color: white;
}

.cardTask:hover{
    box-shadow: inset 0 0 89px rgba(143, 46, 255, 0.20);
}

.cardTask hr{
    margin: 0.5rem 0 0.8rem 0;
}

.to-doCard {
    background: linear-gradient(to bottom, #5D4386, #324055);
}

.in-progressCard {
    background: linear-gradient(to bottom, #5D4386, #2563EB);
}

.in-reviewCard {
    background: linear-gradient(to bottom, #5D4386, #8B5CF6);
}

.rejectedCard {
    background: linear-gradient(to bottom, #5D4386, #EF4444);
}

.concludedCard {
    background: linear-gradient(to bottom, #5D4386, #22C55E);
}

.archivedCard {
    background: linear-gradient(to bottom, #5D4386, #b29bb8);
}

.headTask {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

.headTask p{
    margin-bottom: 2px !important;
}

.deliveryDate {
    font-size: large;
    margin: 10px 0;
}

.infoTask {
    display: flex;
    flex-direction: column;
}

.cardTask p {
    margin-bottom: 6px;
}

.dateTask{
    font-family: "Noto Sans Lao", sans-serif;
    font-size: small;
}

.buttonTask {
    display: flex;
    justify-content: space-between;
    gap: 38px;
    align-items:last center;
}

.Alta {
    color: #e69e34;
}

.Média {
    color: #fbff00;
}

.Baixa {
    color: #10B981;
}

.Urgente {
    color: #ff1515;
}

.bottomTask a {
    opacity: 0.5;
}

.bottomTask p{
    margin-bottom: 0 !important;
}

.bottomTask {
    margin-bottom: 10px;
    font-size: small;
}

/* TaskButton */

.ToDo {
    background-color: #2563EB;
}

.InProgress {
    background-color: #8B5CF6;
}

.InReview {
    background-color: #413892;
}

.Rejected {
    background-color: #2563EB;
}

.Concluded {
    background-color: #8dbe9f;
}